h2 {
    width: 100%;
    text-align: center;
}
ul {
    width: 35%;
    height: 100vh;
    margin: 0 auto;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: none;
    overflow: auto;
    
}

ul li {
    list-style: none;
    
}