.spotifyFullLogo {
    display: block;
    margin: 0 auto;
    max-width: 7rem;
    min-width: 70px;
}

.appleLogo {
    display: block;
    margin: 0rem auto;
    max-width: 2.5rem;
}

h1 {
    width: 100%;
    text-align: center;
    color: white;
    font-size: 3rem;
    margin: 0
}

h2 {
    font-size: 1.5rem;
    color: white;
    width: 100%;
    text-align: center;
}

.playlists {
    width: 80%;
    height: 58vh;
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, 150px);
    gap: 2rem 4rem;
    justify-content: center;
    scrollbar-color: #e9e5e1 rgba(0, 0, 0, 0);
    overflow-y: auto;
    margin: 0 auto 2rem;
}

.playlistsLi {
    border-radius: 4px;
    width: 200px;
    background-color: rgba(0, 0, 0, 0);
    list-style: none;
}

.playlistsLi:hover {
    cursor: pointer;
    scale: 1.05;
}

@media (max-width: 885px) {
    .playlists {
        padding: 0;
        margin: 0;
        height: 60vh;
        margin: 2.5rem auto 0;
        scrollbar-color: grey #e9e5e1;
    }

    .playlistsLi {
        margin: 0.25rem 0;
        list-style: none;
        width: 100%;
    }
}
