h2 {
    width: 100%;
    text-align: center;
}

.playlists {
    width: 50rem;
    height: 60vh;
    margin: 2.5rem auto 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: none;
    overflow: auto;
    scrollbar-color: grey #e9e5e1;
    
}

ul li {
    list-style: none;
    width: 100%;
    display: flex;
    flex-direction: column;
    
}

@media (max-width: 885px) {
    .playlists {
        padding: 0;
        margin: 0;
        width: 100%;
    }



    ul li {
        margin: .25rem 0;
    }
}
