.status {
    width: 70%;
    padding: 0rem;
    text-align: none;
}

.center {
    text-align: center;
}

.m0 {
    margin: 0;
}
.p0 {
    padding: 0;
}

.fs1rem {
    font-size: 1rem;
}

.mb {
    margin-bottom: 0.5rem
}

.displayBlock {
    display: block;
}

.textAlignStart {
    text-align: start;
}

.bold {
    font-weight: bold;
}

.metaLi {
    margin-bottom: 0.5rem;
    display: block;
    font-size: 1.4rem
}
.songList {
    overflow: scroll;
    height: 45vh;
    width: 60%;
    scrollbar-color: grey #e9e5e1;
    margin-top: 1.5;
    text-align: start;
}

.song {
    margin: .3rem 0;
}

.overflow {
    overflow: scroll;
}

.transferButton {
    width: 8rem;
}

@media (max-width: 725px) {
    
    .status {
        width: 100%;
    }
    .transferringHeader {
        font-size: 1.5rem;
    }
}
@media (max-width: 656px) {
    .songList {
        width: 100%;
    }

    .metaLi {
        font-size: 1.15rem;
    }

    .transferringHeader {
        font-size: 1.5rem;
    }

}
