* {
    box-sizing: border-box;
}

.playlistCard {
    border-radius: 4px;
    height: 100%;
    background-color: rgba(0, 0, 0, 0);

}

.playlistCardDropdown ul {
    width: fit-content;
    padding: 0;
}

.playlistCard img {
    width: 100%;
    height: 175px;
    object-fit: fill;
    border-radius: 4px;
}

.cardHeader {
    color: white;
    font-weight: bold;
    margin: .5rem;
    font-size: 0.85rem;
    text-align: start;
}

@media (max-width: 885px) {
    .playlistCard {
        width: 100%;
    }

    .playlistCard img {
        width: 100%;
        max-height: 8rem;
        ;
    }

}
