.footer {
	padding: 6rem 0 0;
	color: white;
	width: 100%;
	background-color: #282c34;
}

.footerBottom {
	width: 100%;
	display: flex;
	justify-content: space-between;
	padding: 1.5rem 1.75rem 1rem;
	margin-top: 2rem;
}

.footerBottom p {
	margin: 0;
	align-self: flex-end;
	height: fit-content;
}

.tuneshiftLogo {
	width: 100px;
}

.links {
	display: flex;
	justify-content: center;
	justify-content: space-evenly;

}

.linkHeader {
	margin-bottom: 1.5rem;
	color: #8F9AA5;
	font-weight: bold;
}

.links ul {
	display: flex;
	flex-direction: column;
	list-style: none;
	text-align: left;
	padding: 0;
	gap: 1rem
}


.links ul a {
	font-weight: bold;
	text-decoration: none;
	color: lightgray
}

.links ul a:hover {
	cursor: pointer;
}

@media (max-width: 800px) {
	.footer {
		padding: 3rem 0 0;
	}

	.footerBottom {
		margin: 0rem;
	}
}
