* {
  box-sizing: border-box;
  /*font-family: "Manrope", serif;*/
  font-family: sans-serif;
}

.App {
  /*background-color: #282c34;*/
}

.container {
  width: 100%;
  margin: 0 auto;
  background-color: #282c34;
}

a {
  text-decoration: none;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 2rem 1.75rem;
  letter-spacing: 1px;
  margin: 0 auto;
  background-color: #282c34;
}

nav img {
  width: 120px;
}

nav ul {
  display: flex;
  align-items: center;
  gap: 4em;
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li a {
  font-size: 1.15rem;
  font-weight: bold;
  text-decoration: none;
  color: white;
}

nav li a:hover {
  color: #5f92b7;

}


.transferLink {
  font-weight: bold;
  color: white;
  padding: .75rem 1rem;
  border-radius: 50px;
  background-color: #ea9a0d;
  transition-duration: .2s;
  letter-spacing: 1px;
}

.transferLink:hover {
  background-color: #fd9c38;
  color: white;
  transform: scale(1.05)
}


@media (max-width: 800px) {

  nav img {
    width: 80px;
  }

  nav {
    padding: 1rem;
    gap: 1.25rem;
  }

  nav li a,
  nav a {
    font-size: 1.25rem
  }

  nav ul {
    gap: 1.75rem;

  }

  footer {
    padding: 0;
  }
}

@media (max-width: 575px) {

  nav li a,
  nav a {
    font-size: 1.15rem;
  }
}
